<div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form [formGroup]="attackForm" (ngSubmit)="onSubmit()">

          <!--Villages list-->

          <div class="form-group">
            <label for="village" class="col-sm-2">Village</label>
            <div class="input-group col-sm-12">
              <select (change)="attackService.getAboutVillage($event.target.value)" class="form-control form-control-sm" formControlName="villageName" id="village">
                <option *ngFor="let village of aboutVillage.allVillageList" [value]="village.name">
                  {{village.name}}
                </option>
              </select>
            </div>
          </div>

          <!--Immediately-->
          <div class="form-group">
            <div class="form-check">
              <div class="input-group col-sm-12">
                <div class="input-group">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" formControlName="immediately"
              (change)="onImmediatelyChange($event)">
              <label class="form-check-label" for="defaultCheck1">
                Immediately send ?
              </label>
                </div>
              </div>
            </div>
          </div>

          <!--Date-->

          <div class="form-group" [ngStyle]="{display: showDate ? 'block' : 'none'}">
            <div class="row">
              <div class="col">
                <label for="date" class="col-sm-2 col-form-label">Date</label>
                <div class="input-group col-sm-12">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                           name="date" id="date" formControlName="date" ngbDatepicker #d2="ngbDatepicker"
                           [ngClass]="{'is-invalid': attackForm.get('date').invalid && attackForm.get('date').touched}">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-outline-secondary" (click)="d2.toggle()" type="button"
                              data-toggle="tooltip" data-placement="left" title="Select Date">
                        <fa-icon icon="calendar-alt" size="md"></fa-icon>
                      </button>
                    </div>
                    <div *ngIf="attackForm.get('date').invalid && attackForm.get('date').touched" class="invalid-feedback">
                      Date is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <!--Time-->

                <div class="input-group input-group-sm col-sm-12">
                    <ngb-timepicker style="margin: auto" size="small" formControlName="time" [seconds]="seconds"></ngb-timepicker>
                  </div>
              </div>
            </div>
          </div>

          <!--Coordinates-->

          <div class="form-group">
            <div class="input-group input-group-sm col-sm-12">
              <div class="input-group-prepend">
                <span class="input-group-text">X | Y</span>
              </div>
              <input type="number" aria-label="X" class="form-control" id="x" formControlName="x">
              <input type="number" aria-label="Y" class="form-control" id="y" formControlName="y">
            </div>
          </div>

          <!--Kind of Attack-->

          <fieldset class="form-group ml-3">
            <div class="row">
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="kind" id="gridRadios1" value="2"
                         formControlName="kind">
                  <label class="form-check-label" for="gridRadios1">
                    Подкрепление
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="kind" id="gridRadios2" value="3"
                         formControlName="kind">
                  <label class="form-check-label" for="gridRadios2">
                    Атака: обычная
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="kind" id="gridRadios3" value="4"
                         formControlName="kind">
                  <label class="form-check-label" for="gridRadios3">
                    Атака: набег
                  </label>
                </div>
              </div>
            </div>
          </fieldset>


          <!--Troops-->

          <div class="form-group">
            <div class="row mb-4">
              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u21" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u21">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[0] }}</span>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u22" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u22">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[1] }}</span>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u23" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u23">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[2] }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u24" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u24">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[3] }}</span>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u25" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u25">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[4] }}</span>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u26" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u26">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[5] }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u27" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u27">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[6] }}</span>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u28" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u28">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[7] }}</span>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u29" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u29">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[8] }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u30" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u30">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[9] }}</span>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img class="unit u31" src="../../assets/images/x.gif" alt="Фаланга">
                  </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                         formControlName="u31">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ aboutVillage?.availableTroops[10] }}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">

                  <label class="col-sm-8">Target #1</label>
                  <select class="form-control" name="troops[0][kata]" formControlName="firstTarget">
                    <option value="99">Случайная цель</option>
                    <optgroup label="Сырье">
                      <option value="1">Лесопилка</option>
                      <option value="2">Глиняный карьер</option>
                      <option value="3">Железный рудник</option>
                      <option value="4">Ферма</option>
                      <option value="5">Лесопильный завод</option>
                      <option value="6">Кирпичный завод</option>
                      <option value="7">Чугунолитейный завод</option>
                      <option value="8">Мукомольная мельница</option>
                      <option value="9">Пекарня</option>
                    </optgroup>
                    <optgroup label="Инфраструктура">
                      <option value="10">Склад</option>
                      <option value="11">Амбар</option>
                      <option value="15">Главное здание</option>
                      <option value="17">Рынок</option>
                      <option value="18">Посольство</option>
                      <option value="24">Ратуша</option>
                      <option value="25">Резиденция</option>
                      <option value="26">Дворец</option>
                      <option value="27">Сокровищница</option>
                      <option value="28">Торговая палата</option>
                      <option value="38">Большой склад</option>
                      <option value="39">Большой амбар</option>
                    </optgroup>
                    <optgroup label="Армия">
                      <option value="13">Кузница</option>
                      <option value="14">Арена</option>
                      <option value="16">Пункт сбора</option>
                      <option value="19">Казарма</option>
                      <option value="20">Конюшня</option>
                      <option value="21">Мастерская</option>
                      <option value="22">Академия</option>
                      <option value="29">Большая казарма</option>
                      <option value="30">Большая конюшня</option>
                      <option value="37">Таверна</option>
                    </optgroup>
                  </select>
              </div>

              <div class="col">
                  <label class="col-sm-8">Target #2</label>
                  <select class="form-control" name="troops[0][kata]" formControlName="secondTarget">
                    <option value="99">Случайная цель</option>
                    <optgroup label="Сырье">
                      <option value="1">Лесопилка</option>
                      <option value="2">Глиняный карьер</option>
                      <option value="3">Железный рудник</option>
                      <option value="4">Ферма</option>
                      <option value="5">Лесопильный завод</option>
                      <option value="6">Кирпичный завод</option>
                      <option value="7">Чугунолитейный завод</option>
                      <option value="8">Мукомольная мельница</option>
                      <option value="9">Пекарня</option>
                    </optgroup>
                    <optgroup label="Инфраструктура">
                      <option value="10">Склад</option>
                      <option value="11">Амбар</option>
                      <option value="15">Главное здание</option>
                      <option value="17">Рынок</option>
                      <option value="18">Посольство</option>
                      <option value="24">Ратуша</option>
                      <option value="25">Резиденция</option>
                      <option value="26">Дворец</option>
                      <option value="27">Сокровищница</option>
                      <option value="28">Торговая палата</option>
                      <option value="38">Большой склад</option>
                      <option value="39">Большой амбар</option>
                    </optgroup>
                    <optgroup label="Армия">
                      <option value="13">Кузница</option>
                      <option value="14">Арена</option>
                      <option value="16">Пункт сбора</option>
                      <option value="19">Казарма</option>
                      <option value="20">Конюшня</option>
                      <option value="21">Мастерская</option>
                      <option value="22">Академия</option>
                      <option value="29">Большая казарма</option>
                      <option value="30">Большая конюшня</option>
                      <option value="37">Таверна</option>
                    </optgroup>
                  </select>
              </div>
            </div>
          </div>


          <div class="mt-5" style="text-align: center">
            <button type="button" class="btn btn-primary btn-sm" (click)="onAddWave()" [disabled]="attack.waves.length >= 4">ADD WAVE</button>
          </div>

          <hr>

          <!--Waves-->
          <div class="form-group">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" *ngFor="let troop of aboutVillage.availableTroops; let i = index;">
                  <img [className]="'unit u' + (20 + i + 1)" src="../../assets/images/x.gif" alt="image">
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let wave of attack.waves; let i = index;">
                <th scope="row">{{i + 1}}</th>
                <td *ngFor="let troop of wave.troops; let t = index">
                  {{ troop }}
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="mt-5" style="text-align: center">
            <button type="submit" class="btn btn-primary btn-sm">SEND ATTACK</button>
          </div>
        </form>
      </div>
    </div>
</div>
